doctype html
html(lang="en")
  head
    title= pageTitle
    style(type='text/css').
      body {
        margin: 0;
        padding: 0;
        background-color: #FAFAFA;
        font: 12pt "Tahoma";
      }
      * {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
      }
      .page {
        width: 21cm;
        min-height: 29.7cm;
        padding: 2cm;
        margin: 1cm auto;
        border: 1px #D3D3D3 solid;
        border-radius: 5px;
        background: white;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      }
      .subpage {
        padding: 1cm;
        border: 0px;
        height: 226mm;
      }

      .bcc{
        padding: 15px;
        border: 1px solid gray;
        border-radius: 5px;
      }

      .bc{
        padding: 10px;
        width: 650px;
      }

      .txt{
        width: 650px;
        text-align: center;
        font-weight: bold;
        font-size: 14pt;
      }

      @page {
        size: A4;
        margin: 0;
      }
      @media print {
        .page {
          margin: 1cm auto;
          border: initial;
          border-radius: initial;
          width: initial;
          min-height: initial;
          box-shadow: initial;
          background: initial;
          page-break-after: always;
        }
      }
body
  div.book
    each codes in xcodes
      div.page
        div.subpage
          each code in codes
            div.bcc
              div.bc !{code.svg}
              div.txt !{code.text}
